{% extends 'base_user.html' %}


{% block css %}
    {{ super() }}
    {{ webpack_css('admin') }}
{% endblock %}


{% block js %}
    {{ super() }}
    {{ webpack_js('admin') }}
{% endblock %}


{% block modulenav %}
    <li class="red{% if action == 'settings' %} active{% endif %}">
        <a href="{{ url_for('admin_settings') }}">Settings</a>
    </li>
    <li{% if action == 'users' %} class="active"{% endif %}>
        <a href="{{ url_for('admin_users') }}">Users/Groups</a>
    </li>
    <li{% if action == 'permissions' %} class="active"{% endif %}>
        <a href="{{ url_for('admin_permissions') }}">Permissions</a>
    </li>
    <li{% if action == 'tasks' %} class="active"{% endif %}>
        <a href="{{ url_for('admin_tasks') }}">Tasks</a>
    </li>
    <li{% if action == 'logs' %} class="active"{% endif %}>
        <a href="{{ url_for('admin_logs') }}">Logs</a>
    </li>
    <li{% if action == 'debug' %} class="active"{% endif %}>
        <a href="{{ url_for('admin_debug') }}">Debug</a>
    </li>
{% endblock %}
