{% extends 'admin/base.html' %}

{% block admin_title %}
Debug
{% endblock %}

{% block content %}
    <h2 class="top">Base Config</h2>
    <p>Static configurables, as defined in your settings file.</p>
    <table>
        <thead><tr>
            <th width="15%">Key</th>
            <th>Value</th>
        </tr></thead>
        <tbody>
            {% for name, item in settings %}<tr>
                <td>{{ name }}</td>
                <td><pre><code>{{ item|pprint }}</code></pre></td>
            </tr>{% endfor %}
        </tbody>
    </table>

    {% for module, confs in module_configs.iteritems() %}
        <h2>{{ confs.TITLE }} Config</h2>

        <table>
        <thead><tr>
            <th width="15%">Key</th>
            <th>Value</th>
        </tr></thead>
        <tbody>
            {% for name, item in confs.iteritems() %}<tr>
                <td>{{ name }}</td>
                <td><pre><code>{{ item|pprint }}</code></pre></td>
            </tr>{% endfor %}
        </tbody>
    </table>
    {% endfor %}


    <h2>Maps</h2>
    <h3>Modules</h3>
    <pre><code>{{ modules|pprint }}</code></pre>

    <h3>Objects</h3>
    <pre><code>{{ objects|pprint }}</code></pre>

    <h3>Items</h3>
    <pre><code>{{ items|pprint }}</code></pre>

    <h3>Websockets</h3>
    <pre><code>{{ websockets|pprint }}</code></pre>

    <h3>Tasks</h3>
    <pre><code>{{ tasks|pprint }}</code></pre>


    <h2>Routes</h2>
    <p>Table of all HTTP(S) routes.</p>
    <table>
        <thead><tr>
            <th>Endpoint</th>
            <th>Function</th>
            <th>Methods</th>
        </tr></thead>
        <tbody>
            {% for (url, endpoint, methods) in urls %}<tr>
                <td>{{ url }}</td>
                <td><code>{{ endpoint }}</code></td>
                <td>{% for method in methods %}
                    <code>{{ method }}</code>{% if not loop.last %}, {% endif %}
                {% endfor %}</td>
            </tr>{% endfor %}
        </tbody>
    </table>


    <h2>API Routes</h2>
    <p>Table of all API HTTP(S) routes.</p>
    <table>
        <thead><tr>
            <th>Endpoint</th>
            <th>Function</th>
            <th>Methods</th>
        </tr></thead>
        <tbody>
            {% for (url, endpoint, methods) in api_urls %}<tr>
                <td>{{ url }}</td>
                <td><code>{{ endpoint }}</code></td>
                <td>{% for method in methods %}
                    <code>{{ method }}</code>{% if not loop.last %}, {% endif %}
                {% endfor %}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}