{% extends 'admin/base.html' %}

{% block admin_title %}
Users
{% endblock %}

{% block content %}
        <form class="inline left" action="" method="get">
            <h2 class="top">Users</h2>
            <div><input type="text"  name="name" placeholder="Filter by name..." value="{{ request.args.name }}" /></div>
            <div><div class="select"><select name="user_group_id">
                <option value="">Filter by group</option>
                {% for group in groups %}
                    <option value="{{ group.id }}"{% if request.args.user_group_id and request.args.user_group_id|int == group.id %} selected{% endif %}>{{ group.name }}</option>
                {% endfor %}
                <option value="">All groups</option>
            </select><span class="icon icon-arrow-down"></span></div></div>
            <div class="{% if filtered %}buttonset{% endif %}">
                <button type="submit" class="button blue small">Filter</button>
                {% if filtered %}
                    <a class="button red small">Clear</a>
                {% endif %}
            </div>
        </form>

        <form class="inline right" action="{{ url_for('admin_add_user') }}" method="post">
            <h3>Add User</h3>
            <div><input type="text"  name="email" placeholder="New user email..." /></div>
            <button class="button green small">Add User</button>
            {{ csrf_input() }}
        </form>

        <table class="object-based">
            <thead><tr>
                <th width="50px">ID</th>
                <th width="20%">Name</th>
                <th>Email</th>
                <th>User Group</th>
                <th>Last Seen</th>
                <th></th>
            </tr></thead>
            <tbody>
                {% for user in users %}<tr>
                    <td>{{ user.id }}</td>
                    <td>
                        {{ user.name }}
                        {% if user.is_keymaster %}
                            <br /><small>keymaster</small>
                        {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.user_group.name }}</td>
                    <td></td>
                    <td class="buttonset align-right">
                        <a class="button small blue" href="{{ url_for('admin_view_edit_user', user_id=user.id) }}">Edit</a>
                        <a class="button small red" href="#">Delete</a>
                    </td>
                </tr>{% endfor %}
            </tbody>
        </table>
{% endblock %}