.DS_Store
*.pyc

# Secret configs!
config.py

# Vagrant
.vagrant/

# Node
node_modules/

# Migrations
migrations/versions/*
!migrations/versions/.keepme

# Asset cache
.webassets-cache/
static/cache/

# Modules
modules/*
!modules/__init__.py
modules_disabled/
