.DS_Store
*.pyc

# Secret settings!
settings.py

# Vagrant
.vagrant/

# Node
node_modules/

# Migrations
migrations/versions/*
!migrations/versions/.keepme

# Webpack assets
oxyio/web/static/dist/

# Modules
modules/*
!modules/__init__.py
modules_disabled/

.venv
.proj

