/*
    oxy.io
    File: webpacks/base/less/lists.less
    Desc: shared styles for ordered and unordered lists
*/

@import './shared/colours.less';
@import './shared/dimensions.less';


ul.horizontal-tabs {
    margin: -20px 0 50px 0;
    padding: 0;

    li {
        list-style: none;

        a {
            float: left;
            padding: 5px;
            background: @grey;
            border: none;
        }

        &:first-child a {
            border-radius: @borderRadius 0 0 @borderRadius;
        }
        &:last-child a {
            border-radius: 0 @borderRadius @borderRadius 0;
        }

        &.active a {
            background: @darkGrey;
        }
    }
}
