/*  oxy.io
    File: static/less/messages.less
    Desc: message styles
*/

@import './shared/colours.less';
@import './shared/dimensions.less';


// All messages (header & inline)
div.message {
    padding: 8px;
    background: @grey;
    margin-bottom: 10px;
    border-radius: @borderRadius;

    &.error, &.success, &.warning, &.info {
        color: @white;
    }

    &.error {
        background: @red;
    }
    &.success {
        background: @green;
    }
    &.warning {
        background: @orange;
    }
    &.info {
        background: @blue;
    }

    svg.loader {
        float: left;
        margin-right: 5px;
    }
}


// Global header messages & task subscribes
section#notifications {
    position: absolute;
    top: 60px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    z-index: 9;

    div.message {
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding: 0 8px;
        margin: 0;
        border-radius: 0;

        &:last-child {
            border-radius: 0 0 @borderRadius @borderRadius;
        }
    }
}
