{% extends 'admin/base.html' %}

{% block content %}
    <h2 class="top">Modules</h2>
    <p>Loaded modules &amp; their objects.</p>
    <table>
        <thead><tr>
            <th>Name</th>
            <th>Objects</th>
        </tr></thead>
        <tbody>
            {% for name, _ in modules.iteritems() %}<tr>
                <td>{{ name }}</td>
                <td>{% for object_name, object_class in objects[name].iteritems() %}
                    {{ object_class.__name__ }} ({{ object_name }})
                    {% if loop.index != objects[name]|length %}, {% endif %}
                {% endfor %}</td>
            </tr>{% endfor %}
        </tbody>
    </table>

    <h2>Base Config</h2>
    <p>Static configurables, as defined in <code>config.py</code>.</p>
    <table>
        <thead><tr>
            <th width="15%">Key</th>
            <th>Value</th>
        </tr></thead>
        <tbody>
            {% for name, item in configs.iteritems() %}<tr>
                <td>{{ name }}</td>
                <td><code>{{ item }}</code></td>
            </tr>{% endfor %}
        </tbody>
    </table>

    {% for module, confs in module_configs.iteritems() %}
        <h2>{{ confs.NAME }} Config</h2>

        <table>
        <thead><tr>
            <th width="15%">Key</th>
            <th>Value</th>
        </tr></thead>
        <tbody>
            {% for name, item in confs.iteritems() %}<tr>
                <td>{{ name }}</td>
                <td><code>{{ item }}</code></td>
            </tr>{% endfor %}
        </tbody>
    </table>
    {% endfor %}

    <h2>Routes</h2>
    <p>Table of all HTTP(S) routes.</p>
    <table>
        <thead><tr>
            <th>Endpoint</th>
            <th>Function</th>
            <th>Methods</th>
        </tr></thead>
        <tbody>
            {% for url, details in urls.iteritems() %}<tr>
                <td>{{ url }}</td>
                <td><code>{{ details.endpoint }}</code></td>
                <td>{% for method in details.methods %}
                    <code>{{ method }}</code>{% if not loop.last %}, {% endif %}
                {% endfor %}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}