{% extends 'login.html' %}

{% block body %}
    <section id="top"><div class="wrap login">
        <h2 id="title">{% block error_title %}{% endblock %}</h2>
    </div></section>

    <section id="login"><div class="wrap login">
        <div class="message {% block error_class %}{% endblock %}">{% block error_message %}{% endblock %}</div>
        <a class="left" href="/"><span class="icon icon-home"></span> Return Home</a>
        {% if request.referrer %}
            <a class="right" href="{{ request.referrer }}"><span class="icon icon-chevron-left small"></span> Go back</a>
        {% endif %}
    </div></section>
{% endblock %}