{% import 'function/forms.html' as forms %}
{% extends 'base_user.html' %}


{% block subheader %}
    <section id="subheader"><div class="wrap">
        <h1>Add new {{ object_name }}</h1>

        <ul id="links">
            <li><a href="{{ url_for('list_objects', module_name=module_name, objects_type=objects_type) }}">View own</a></li>
            {% if has_any_objects_permission(module_name, objects_type, 'view') %}
                <li><a class="red" href="{{ url_for('list_all_objects', module_name=module_name, objects_type=objects_type) }}">View all</a></li>
            {% endif %}
        </ul>
    </div></section>
{% endblock %}

{% block content %}
    <div class="block base">
        <form action="#" method="post" class="third block">
            {{ forms.fields(add_form) }}

            <button class="button green">Add {{ object_name }}</button>

            {{ csrf_input() }}
        </form>
    </div>
{% endblock %}