{% macro label(field, text) %}
    <label for="{{ field }}">{{ field|title }} {% if text %}({{ text }}){% endif %}</label>
{% endmacro %}

{% macro string(field, length, value, options) %}
    {% if not options.inline %}
        {{ label(field, options.text) }}
    {% endif %}
    <input type="text" id="{{ field }}" name="{{ field }}" value="{{ value }}" {% if options.inline %}placeholder="Filter by {{ field }}..."{% endif %} />
{% endmacro %}

{% macro enum(field, enums, value, options) %}
    {% if not options.inline %}
        {{ label(field, options.text) }}
    {% endif %}
    <div class="select">
        <select id="{{ field }}" name="{{ field }}">
            {% if options.inline %}
                <option value="">Filter by {{ field }}</option>
            {% endif %}
            {% for enum, name in enums.iteritems() %}
                <option value="{{ enum }}"{% if value == enum %} selected{% endif %}>{{ name }}</option>
            {% endfor %}
            {% if options.inline %}
                <option value="">Show all</option>
            {% endif %}
        </select>
        <span class="icon icon-arrow-down"></span>
    </div>
{% endmacro %}

{% macro relation(field, objects, value, options) %}
    {{ label(prettify_relation(field), options.text) }}
    <div class="select">
        <select id="{{ field }}" name="{{ field }}">
            <option value="0">&mdash;</option>
            {% for obj in objects %}
                <option value="{{ obj.id }}"{% if value == obj.id %} selected{% endif %}>{{ obj.name }}</option>
            {% endfor %}
        </select>
        <span class="icon icon-arrow-down"></span>
    </div>
{% endmacro %}

{% macro mrelation(field, objects, value, options) %}
    {{ label(prettify_relation(field), options.text) }}
    <div class="select multi multiselect">
        <select {% if not options.editable %}disabled{% endif %} multiple id="{{ field }}" name="{{ field }}">
            {% for obj in objects %}
                <option value="{{ obj.id }}"{% if obj.id in options.related_ids %} selected{% endif %}>{{ obj.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro fields(form_data, object={}) %}
    {% for (type, field, args, options) in form_data %}
        <div>
            {% if type == 'string' %}
                {{ string(field, args, object[field], options) }}
            {% elif type == 'int' %}
                {{ string(field, 2, object[field], options) }}
            {% elif type == 'enum' %}
                {{ enum(field, args, object[field], options) }}
            {% elif type == 'relation' %}
                {{ relation(field, args, object[field], options) }}
            {% elif type == 'mrelation' %}
                {{ mrelation(field, args, object[field], options) }}
            {% else %}
                {{ type }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro filter_fields(form_data) %}
    {% for (type, field, args, _) in form_data %}
        <div>
            {% if type == 'string' %}
                {{ string(field, args, request.args[field], {'inline': True}) }}
            {% elif type == 'int' %}
                {{ string(field, 2, request.args[field], {'inline': True}) }}
            {% elif type == 'enum' %}
                {{ enum(field, args, request.args[field], {'inline': True}) }}
            {% else %}
                {{ field }}
                {{ type }}
                {{ args }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}
