{% extends 'base.html' %}
{% import 'function/flashes.html' as flashes %}


{% block body %}
    <section id="messages">
        {{ flashes.messages() }}
    </section>

    <section id="header"><div class="wrap">
        <h2 id="title">
            <!--<a href="#"><span class="icon icon-toggle-left"></span></a>-->
            <a href="/">
                oxy.io
            </a>
        </h2>

        <ul id="modules">
            <li class="active">
                {{ modules_nav() }}
            </li>
        </ul>

        <ul id="nav">
            {% block modulenav %}
                {{ module_nav() }}
            {% endblock %}
        </ul>

        <a id="logout" href="{{ url_for('logout') }}" title="Logout">
            <span class="icon icon-sign-out"></span>
        </a>
        <a id="profile" href="{{ url_for('view_profile') }}" title="Edit profile">
            <img src="{{ current_user().gravatar }}" />
            {{ current_user().name }}
        </a>

        <form id="search">
            <input type="text" placeholder="search" />
            <button type="submit"><span class="icon icon-search"></span>
        </form>
    </div></section>

    {% block subheader %}{% endblock %}

    <section id="content"><div class="wrap">
        {% block content %}{% endblock %}
    </div></section>

    <section id="footer"><div class="wrap">
        <span class="right">Powered by <a href="#">oxy.io</a></span>
    </div></section>
{% endblock %}
