{% extends 'base.html' %}
{% import 'function/flashes.html' as flashes %}

{% block title %}Login{% endblock %}

{% block body_classes %}login{% endblock %}

{% block body %}
    <section id="top"><div class="wrap login">
        <h2 id="title"><a href="/login">oxy.io</a></h2>
    </div></section>

    <section id="login"><div class="wrap login">
        {{ flashes.messages() }}

        <form method="post" action="">
            {% block login_inputs %}
                <input type="text" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password" />

                <button type="submit" class="button green">
                    <span class="icon icon-sign-in"></span> Login
                </button>
                <small><a href="{{ url_for('resetpw') }}">reset password</a></small>

                {% if request.args.referrer %}
                    <input type="hidden" name="referrer" value="{{ request.args.referrer }}" />
                {% endif %}

                {{ csrf_input() }}
            {% endblock %}
        </form>
    </div></section>
{% endblock %}
