{% extends 'base.html' %}

{% block css %}
    {{ super() }}
    {{ assets(
        'less/base.less', 'less/header.less', 'less/subheader.less',
        extension='css', filters='less,cssmin'
    ) }}
{% endblock %}

{% block body %}
    {% block header %}
        <section id="header"><div class="wrap">
            <h2 id="title">
                <!--<a href="#"><span class="icon icon-toggle-left"></span></a>-->
                <a href="/">
                    {% if get_config().NAME %}
                        <small>{{ get_config().NAME }}</small>
                    {% endif %}
                    Oxypanel
                </a>
            </h2>

            <ul id="modules">
                <li class="active">
                    {{ modules_nav() }}
                </li>
            </ul>

            <ul id="nav">
                {% block modulenav %}
                    {{ module_nav() }}
                {% endblock %}
            </ul>

            <a id="logout" href="{{ url_for('logout') }}" title="Logout">
                <span class="icon icon-sign-out"></span>
            </a>
            <a id="profile" href="{{ url_for('view_profile') }}" title="Edit profile">
                <img src="{{ current_user().gravatar }}" />
                {{ current_user().name }}
            </a>

            <form id="search">
                <input type="text" placeholder="search" />
                <button type="submit"><span class="icon icon-search"></span>
            </form>
        </div></section>
    {% endblock %}

    {% block subheader %}{% endblock %}
    <section id="content"><div class="wrap">
        {% block content %}{% endblock %}
    </div></section>
{% endblock %}