{% import 'function/messages.html' as messages %}
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block css %}
    {{ super() }}
    {{ assets(
        'less/login.less', extension='css', rel='all', filters='cssmin,less'
    ) }}
{% endblock %}

{% block body %}
    <section id="top"><div class="wrap login">
        <h2 id="title"><a href="/login">Oxypanel</a></h2>
    </div></section>

    <section id="login"><div class="wrap login">
        {{ messages.messages() }}

        <form method="post" action="">
            {% block login_inputs %}
                <input type="text" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password" />

                <button type="submit" class="button green">
                    <span class="icon icon-sign-in"></span> Login
                </button>
                <small><a href="{{ url_for('resetpw') }}">reset password</a></small>

                {% if request.args.referrer %}
                    <input type="hidden" name="referrer" value="{{ request.args.referrer }}" />
                {% endif %}

                {{ csrf_input() }}
            {% endblock %}
        </form>
    </div></section>
{% endblock %}