{% import 'function/forms.html' as forms %}
{% import 'function/flashes.html' as flashes %}
{% extends 'object/base.html' %}

{% block content %}
    <div class="block base">
        <form action="" method="post" class="third block">
            {{ flashes.messages() }}

            {{ forms.fields(edit_form, object) }}

            <button class="button green">Update</button>
            <small><a href="{{ url_for('view_object', module_name=module_name, object_type=object_type, object_id=object.id) }}">back to: {{ object.name }}</a></small>

            {{ csrf_input() }}
        </form>
    </div>
{% endblock %}