{% import 'function/forms.html' as forms %}
{% extends 'base_user.html' %}

{% block subheader %}
    <section id="subheader"><div class="wrap">
        <h1>{{ action|title }} {{ objects_name }}</h1>

        <form class="inline">
            <div><input type="text" name="name" placeholder="Filter by name..." value="{{ request.args.name }}" /></div>

            {{ forms.filter_fields(filter_form) }}

            <div><button type="submit" class="button blue small">Filter</button></div>
        </form>

        <ul id="links">
            {% if action != 'own' %}
                <li><a href="{{ url_for('list_objects', module_name=module_name, objects_type=objects_type) }}">View own</a></li>
            {% endif %}
            {% if action != 'all' and has_any_objects_permission(module_name, objects_type, 'view') %}
                <li><a class="red" href="{{ url_for('list_all_objects', module_name=module_name, objects_type=objects_type) }}">View all</a></li>
            {% endif %}
            {% if has_global_objects_permission(module_name, objects_type, 'Add') %}
                <li><a class="red" href="{{ url_for('view_add_objects', module_name=module_name, objects_type=objects_type) }}">Add {{ object_name|lower }}</a></li>
            {% endif %}
        </ul>
    </div></section>
{% endblock %}

{% block content %}
    <table class="object-based">
        <thead><tr>
            <th width="50px">ID</th>
            <th width="15%">Name</th>
            {% if action == 'all' %}
                <th width="15%">User</th>
                <th width="15%">User Group</th>
            {% endif %}
            {% for (field,_) in list_fields %}
                <th>{{ field|title }}</th>
            {% endfor %}
            {% for (module,field,_) in list_relations %}
                <th>{{ prettify_relation(field|title) }}</th>
            {% endfor %}
            <th width="145px"></th>
        </tr></thead>
        <tbody>{% for object in objects %}
            <tr>
                <td>{{ object.id }}</td>
                <td>
                    <a class="module-color" href="{{ url_for('view_object', module_name=module_name, object_type=objects_type, object_id=object.id) }}">    {{ object.name }}
                    </a>
                </td>
                {% if action == 'all' %}
                    <td>{% if object.user %}
                        <a href="#">{{ object.user.name }}<a>
                    {% endif %}</td>
                    <td>{% if object.user_group %}
                        <a href="#">{{ object.user_group.name }}</a>
                    {% endif %}</td>
                {% endif %}
                {% for (field,_) in list_fields %}
                    <td>{% if object[field] %}
                        {{ object[field] }}
                    {% else %}&mdash;{% endif %}</td>
                {% endfor %}
                {% for (module,field,_) in list_relations %}
                    <td>{% if object[field] %}
                        <a class="module-color" href="{{ url_for('view_object', module_name=module, object_type=field, object_id=object[field].id) }}">{{ object[field].name }}</a>
                    {% endif %}</td>
                {% endfor %}
                <td class="buttonset align-right">
                    {% if action == 'own' %}
                        {% if has_global_objects_permission(module_name, objects_type, 'delete') %}
                            <button class="button red small">Delete</button>
                        {% endif %}

                        {% if has_own_objects_permission(module_name, objects_type, 'edit') %}
                            <a href="{{ url_for('view_object', module_name=module_name, object_type=objects_type, object_id=object.id) }}/edit" class="button blue small">
                                Edit
                            </a>
                        {% endif %}

                        <a class="button green small" href="{{ url_for('view_object', module_name=module_name, object_type=objects_type, object_id=object.id) }}">
                            View
                        </a>
                    {% else %}
                        {% if has_global_objects_permission(module_name, objects_type, 'delete') %}
                            <button class="button red small">Delete</button>
                        {% endif %}

                        {% if has_any_objects_permission(module_name, objects_type, 'edit') %}
                            <a href="{{ url_for('view_object', module_name=module_name, object_type=objects_type, object_id=object.id) }}/edit" class="button blue small">Edit</a>
                        {% endif %}

                        <a class="button green small" href="{{ url_for('view_object', module_name=module_name, object_type=objects_type, object_id=object.id) }}">View</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% if objects.count() == 0 %}
            <tr class="no-results"><td colspan="100%">
                No {{ objects_name|lower }} found
            </td></tr>
        {% endif %}

        </tbody>
    </table>
{% endblock %}