<!-- Shortcuts-->

{% macro format_title(field, options, inline=False) %}
    {%- if options.title -%}
        {{ options.title }}
    {%- else -%}
        {% if inline %}{{ field }}{% else %}{{ field|title }}{% endif %}
    {%- endif -%}
{% endmacro %}

{% macro format_value(value, options) %}
    {%- if options.formatter -%}
        {{ options.formatter.format(value) }}
    {%- else -%}
        {{ value }}
    {%- endif -%}
{% endmacro %}

{% macro label(field, options) %}
    <label for="{{ field }}">
        {{ format_title(field, options) }}
        {%- if options.text %}({{ options.text }}){% endif %}
    </label>
{% endmacro %}


<!-- Field types -->

<!-- string -> input -->
{% macro string(field, length, value, options, inline) %}
    {% if not inline %}
        {{ label(field, options) }}
    {% endif %}
    <input type="text" id="{{ field }}" name="{{ field }}" value="{{ format_value(value, options) }}" {% if inline %}placeholder="Filter by {{ format_title(field, options, inline=inline) }}..."{% endif %} />
{% endmacro %}

<!-- enum -> select -->
{% macro enum(field, enums, value, options, inline) %}
    {% if not inline %}
        {{ label(field, options) }}
    {% endif %}
    <div class="select">
        <select id="{{ field }}" name="{{ field }}">
            {% if inline %}
                <option value="">Filter by {{ format_title(field, options, inline=True) }}</option>
            {% endif %}
            {% for enum, name in enums.iteritems() %}
                <option value="{{ enum }}"{% if value == enum %} selected{% endif %}>{{ format_value(name, options) }}</option>
            {% endfor %}
        </select>
        <span class="icon icon-arrow-down"></span>
    </div>
{% endmacro %}

<!-- relation -> select -->
{% macro relation(field, objects, value, options, inline) %}
    {{ label(prettify_relation(field), options) }}
    <div class="select">
        <select id="{{ field }}" name="{{ field }}">
            <option value="0">&mdash;</option>
            {% for obj in objects %}
                <option value="{{ obj.id }}"{% if value == obj.id %} selected{% endif %}>{{ obj.name }}</option>
            {% endfor %}
        </select>
        <span class="icon icon-arrow-down"></span>
    </div>
{% endmacro %}

<!-- multi relation -> multi select -->
{% macro mrelation(field, objects, value, options, inline) %}
    {{ label(prettify_relation(field), options) }}
    <div class="select multi multiselect">
        <select {% if not options.editable %}disabled{% endif %} multiple id="{{ field }}" name="{{ field }}">
            {% for obj in objects %}
                <option value="{{ obj.id }}"{% if obj.id in options.related_ids %} selected{% endif %}>{{ obj.name }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}


<!-- Convert forms into lists of fields -->

{% macro fields(form_data, object={}, inline=False) %}
    {% for (type, field, args, options) in form_data %}
        <div>
            {% if type == 'string' %}
                {{ string(field, args, object[field], options, inline=inline) }}
            {% elif type == 'int' %}
                {{ string(field, 2, object[field], options, inline=inline) }}
            {% elif type == 'enum' %}
                {{ enum(field, args, object[field], options, inline=inline) }}
            {% elif type == 'relation' %}
                {{ relation(field, args, object[field], options, inline=inline) }}
            {% elif type == 'mrelation' %}
                {{ mrelation(field, args, object[field], options, inline=inline) }}
            {% else %}
                {{ type }}
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}
